.heroContainer {
  min-height: 100vh;
  background-image: url(../../../assets/HeroBg.png);
  background-size: cover;

  .content-container {
    max-width: 1200px;
    margin: auto;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 100px);
    padding: 0px 30px;
  }

  .contentDiv1 {
    height: auto;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;

    .hero-text {
      position: relative;

      p:nth-child(1) {
        color: #ff8d3b;
        font-weight: 400;
      }
      img {
        position: absolute;
        bottom: -20px;
        right: 80px;
        z-index: -1;
      }
    }

    .play-button {
      display: flex;
      padding-bottom: 0px !important;

      img {
        margin: 0px;
        width: 40px;
        height: 40px;
      }
      p {
        margin: 0px;
        font-weight: 600;
        display: flex;
        align-items: center;
      }
    }

    .store-buttons img {
      margin-right: 20px;
    }

    .user-avatar img {
      position: absolute;
      width: 70px;
      bottom: 40px;
      right: 50px;
    }
  }

  .contentDiv2 {
    height: auto;
    text-align: left;
    position: relative;

    img {
      position: absolute;
    }

    img:nth-child(1),
    img:nth-child(2) {
      height: 90%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    img:nth-child(2) {
      height: 75%;
      z-index: -1;
    }
    img:nth-child(3) {
      top: 90px;
      left: 40px;
    }
    img:nth-child(4) {
      top: 30px;
      left: 80px;
    }
    img:nth-child(5) {
      bottom: 110px;
      right: 40px;
    }
  }

  h1 {
    font-size: 64px;
    line-height: 15px;
    color: #2c2d2f;
  }
}

@media (max-width: 991px) {
  .heroContainer {
    background-image: none;
    .content {
      grid-template-columns: 1fr;
      height: auto;

      .contentDiv1 {
        .hero-text {
          img {
            width: 170px;
          }
        }

        .user-avatar {
          display: none;
        }
      }

      .contentDiv2 {
        height: 65vh;
        img:nth-child(2) {
          height: 65%;
        }
        img:nth-child(3),
        img:nth-child(4),
        img:nth-child(5) {
          display: none;
        }
      }
    }

    h1 {
      font-size: 40px;
    }
  }
}

@media (min-height: 900px) or (min-width: 1500px) {
  .heroContainer {
    min-height: auto;
    max-height: 900px;

    .content-container,
    .content,
    .contentDiv1,
    .contentDiv2 {
      max-height: 700px;
    }
  }
}

@media (max-height: 900px) or (max-width: 1000px) {
  .heroContainer {
    min-height: 100vh;

    .content-container,
    .content,
    .contentDiv1,
    .contentDiv2 {
      height: auto;
    }
  }
}
